<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <img [src]="'../assets/img/hotelpicker.jpg'" alt="hotel-city" width="700" height=200>
        </div>
        <div class="col-12 date-picker-text text-center mt-5">Hotel Date Picker Confirmation</div>
    </div>
    <div class="container-panel row mt-5">
        <div class="col-12 confirm">
            Your travel reservation has been processed :
            <ul>
                <li>At the  <span>{{booker.hotel.name}}</span></li>
                <li>number of nights: <span>{{booker.nights}}</span></li>
                <li>your checkin date: <span>{{booker.checkInDate | date}}</span></li>
                <li>your checkout date: <span>{{booker.checkOutDate | date}}</span></li>
                <li>your roomtype: <span>{{booker.roomType}}</span></li>
                <li>breakfast included: <span>{{booker.breakfastIncluded ? 'yes' : 'no'}}</span></li>
                <li>total: <span>{{booker.finalPrice | currency}}</span></li>
            </ul>
        </div>
    </div>
</div>

